@import url('https://fonts.googleapis.com/css?family=Advent+Pro:200|Poiret+One');

html, body {
  margin: 0;
}

.footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Poiret One', cursive;
}

.footer i {
  color: red;
}
